<!DOCTYPE html>
<html>
<head>
<title>Report</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="logo"></div>

<h2>Sample Identification</h2>
<p> 
    Sample ID = {{ sample }} <br>
    Tumor type = Colorectal
</p>
<h2>MSI Result by region (mSINGS)</h2>

<table class="centertable">
    <tr></tr>
        <th><div class="graph1"></th>
        <th><div class="graph2"></th>
        <th><div class="graph3"></th>
        <th><div class="graph4"></th>
    <tr></tr>
        <th><div class="graph5"></th>
        <th><div class="graph6"></th>
        <th><div class="graph7"></th>
        <th><div class="graph8"></th>
    <tr></tr>
        <th><div class="graph9"></th>
        <th><div class="graph10"></th>
        <th><div class="graph11"></th>
        <th><div class="graph12"></th>
</table>

<h2>Conclusion</h2>
<p> 
    <u>mSINGS score: </u><br>
    <br>
    &leq;2 : MSS (Microsatellite Stability) <br>
    >2  : MSI (Microsatellite Instability)
    </p>
<p> 
    mSINGS score = <b> {{ score }} </b> <br>
    According to mSINGS the status of {{ sample }} is 
        {% if score > 2%}
            <b>MSI</b>
        {% else %}
            <b> MSS </b>
        {% endif %}    
</p>

</body>
</html> 


